<div th:fragment="common-jumbotron">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Vokabeltrainer</h1>
            <h3>Einfacher Vokabeltrainer Deutsch -> Englisch</h3>
            <p class="col-md-8 fs-4">Beginne mit dem Vokabeltraining.</p>

            <a class="btn btn-primary btn-lg" data-placement="top" data-toggle="tooltip" href="/start"
               role="button"
               title="Generate">Los geht's &raquo;</a>
        </div>
    </div>
</div>
