<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="UTF-8"/>
    <title>Vokabeltrainer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" th:src="@{/webjars/font-awesome/5.15.3/css/all.css}" type="text/css"/>
    <script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/5.15.3/js/all.js}"></script>
</head>
<body>
<header th:fragment="common-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/start">Start</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div th:fragment="common-messages">
    <div th:if="${errorMessage != null}">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}">...</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div th:if="${successMessage != null}">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}">...</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
<div th:fragment="common-jumbotron">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Vokabeltrainer</h1>
            <h3>Einfacher Vokabeltrainer Deutsch -> Englisch</h3>
            <p class="col-md-8 fs-4">Beginne mit dem Vokalbeltraining.</p>

            <a class="btn btn-primary btn-lg" data-placement="top" data-toggle="tooltip" href="/start"
               role="button"
               title="Generate">Los geht's &raquo;</a>
        </div>
    </div>
</div>
<div th:fragment="next">
    <div th:if="${model != null}">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Vokabeltrainer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Deutsch - Englisch</h6>
                <form id="model" method="POST" name="model" class="form-floating" th:action="@{/result}"
                      th:object="${model}">
                    <input id="id" name="id" th:field="*{id}" type="hidden"/>
                    <input id="target" name="target" th:field="*{target}" type="hidden"/>
                    <div class="form-floating mb-4">
                        <input class="form-control" form="model"
                               id="source" name="source"
                               readonly
                               th:field="*{source}"
                               type="text"/>
                        <label for="source">Deutsch:</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input autofocus class="form-control is-invalid" form="model" required
                               id="input"
                               name="input"
                               th:field="*{input}"
                               type="text"/>
                        <label for="input">Englisch:</label>

                        <small class="form-text text-muted-error" id="messageToBeEncodedHelp"
                               th:errors="*{input}"
                               th:if="${#fields.hasErrors('input')}"></small>
                    </div>
                    <button class="btn btn-primary btn-block" data-placement="top"
                            data-toggle="tooltip"
                            title="pr&uuml;fen">
                        pr&uuml;fen &raquo;
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>
<div th:fragment="result">
    <div th:if="${model != null}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Vokabeltrainer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Deutsch - Englisch</h6>

                <form class="form-floating" id="model" method="POST" name="model" th:action="@{/result}"
                      th:object="${model}">
                    <input id="id" name="id" th:field="*{id}" type="hidden"/>
                    <div class="form-floating mb-4">
                        <input type="text" form="model"
                               id="source" name="source"
                               readonly
                               class="form-control"
                               th:field="*{source}"/>
                        <label for="source">Deutsch</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" form="model"
                               id="input"
                               readonly
                               name="input"
                               th:field="*{input}"/>
                        <label for="input">Englisch</label>
                    </div>

                    <div class="form-floating mb-4">
                        <input type="text" class="form-control" form="model"
                               id="target"
                               name="target"
                               readonly
                               th:field="*{target}"/>
                        <label for="input">L&ouml;sung</label>
                    </div>
                    <a autofocus class="btn btn-primary" data-placement="top" data-toggle="tooltip"
                       href="/start"
                       role="button"
                       title="next">Weiter &raquo;</a>
                    </a>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>